
<script id="annotation" type="text/html">
<div class="anno" tabindex="-1" data-anno-id="{{id}}">
	<div class="inner-anno">
		<div class="resizer corner c-tl"></div>
		<div class="resizer corner c-tr"></div>
		<div class="resizer corner c-bl"></div>
		<div class="resizer corner c-br"></div>
		<div class="resizer line l-l"></div>
		<div class="resizer line l-t"></div>
		<div class="resizer line l-r"></div>
		<div class="resizer line l-b"></div>
	</div>
</div>
</script>