<div class="HomeView">
	
	<div class="video-con">
		<video controls>
			<source src="/api/video?n=video01.mp4" type="video/mp4"/>
			<!-- fallback -->
			Your browser does not support the <code>video</code> element.
		</video>
		<div class="annos-con">
		</div>
	</div>

	<div class="toolbar">
		<div class="btn btn-add-anno">Add Rect</div>
	</div>
</div>