<div class="HomeView">
	
	<div class="video-con">
		<video controls>
			<source src="/api/video?n=video01.mp4" type="video/mp4"/>
			<!-- fallback -->
			Your browser does not support the <code>video</code> element.
		</video>
		<div class="annos-con">
		</div>
	</div>

	<div class="controlbar">
		<div class="btn btn-prev">{{{symbol "ico-chevron-left"}}}</div>
		<div class="btn btn-play">Play</div>
		<div class="btn btn-next">{{{symbol "ico-chevron-right"}}}</div>
		<input name="times" class="time-values" />
	</div>
	<div class="toolbar">
		<div class="btn btn-add-anno" data-type="rect">Add Rect</div>
		<div class="btn btn-add-anno" data-type="circle">Add Circle</div>
	</div>
</div>